<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    

<div class="box">
  
 

  <%  itemadd.forEach( (result) =>{ %>
  <form action="/delete" method="post">
    
    <div class="item">
        <input  type="checkbox" onChange="this.form.submit()"  name="checkBox"
        value="<%=result._id%>"  >
        <p> <%=result.name%> </p>

       <input type="hidden"  name="listName" value="<%=listTitle%>">

      <!--( //we can also pass Json obj in (then no need to use hidden input)
      <"percen" JSON.stringify({list_Name:listTitle , item_Name:result.name , item_Id:result._id})   perc> )-->
   
     </div>

   </form>
        
   

 <%   })  %>

    <form class="item" action="/" method="post"> 
            <input type="text" name="itemname" placeholder="New item" >
            <button type="submit" name="list" value="<%=listTitle %>" >+</button>
        </form>
  
    </div>

   
    
    <%- include("footer") -%>